/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
/* carosul part  */
.bg-mc-img{
    background-image: url('../images/slider.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.bg-mc-img-1{
    background-image: url('../images/corousl-2.jpeg');
}
.bg-mc-img-2{
    background-image: url('../images/carouls-4.jpeg');
}
.list-items li {
background: none;
}
.list-background{
    background-color:#3F87F5;
    border-radius: 10px;
    box-shadow: 1px 5px 14px 5px #adbfdb;
    margin-top: -70px;
}
.hot-style-one{
    margin-left: 190px;
   
}
.hot-style {
    margin-top: -25px;
}
.use-margin{
    margin-bottom: 8rem;
}
.items-margin{
    margin-bottom: 60px;
}


